{{> head}}
    {{> top}}   
    <main>
        <section class="hero {{@config.custom.widthHero}}">
            <header>
                <h1>
                    {{ translate 'error.404' }}
                </h1>
                <p>
                    {{ translate 'error.message' }}
                </p>
            </header>
        </section>
    </main>
    {{> footer}}
